
.contenedor{
    display: grid;
    grid-template-columns: 1000px 1000px;
    grid-template-rows: 250px 50px 1500px 50px;
    grid-template-areas: 
    'enc enc'
    'con1 con1'
    'con2 con3'
    'pie pie'
    
    
    ;
}
.enc{
    background-color: yellow;
    grid-area: enc;
}
.con1{
    background-color: aliceblue;
    grid-area: con1;
    text-align: center;
}
.con2{
    background-color: rgb(242, 0, 255);
    grid-area: con2;
}
.con3{
    background-color: orange;
    grid-area: con3;
}
.pie{
    background-color: black;
    grid-area: pie;
    color: aliceblue;
    text-align: center;
}
img{
    width: 1840px;
    height: 250px;
}
a{
    text-decoration: none;
    color: black;
}
.img2{
    width: 300px;
    height: 700px;
}


